@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    max-width: 1210px;
    margin: 0 auto;
}

.testimonial {
    position: relative;
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
    padding-bottom: 250px;

}

.testimonial:before {
    position: absolute;
    content: "";
    background: url("../assets/images/testimonials_bg_top.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    left: 0px;
    top: -197px;
    width: 100%;
    height: 430px;
}

.testimonial:after {
    position: absolute;
    content: "";
    background: url("../assets/images/testimonials_bg_bot.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    left: 0;
    width: 100%;
    bottom: -95px;
    height: 250px;
}


.section__title {
    position: relative;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 42px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 290px;
    padding-bottom: 30px;
    max-width: 330px;

}

.section__title:after {
    position: absolute;
    content: "";
    background: #FD749B;
    border-radius: 3px;
    bottom: 10px;
    height: 7px;
    width: 50px;
    left: calc(50% - 25px);
    display: inline-block;


}


.section__title:before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 155px;
    height: 130px;
    background: url("../assets/images/testimonial_bubble_left.svg");
    top: 215px;
    ;
    left: -410px;

}

.section__descr {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;
    max-width: 540px;
    padding-bottom: 50px;
}

.testimonial__box {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 430px;
    background: #FFFFFF;
    color: #333333;
    opacity: 0.7;
    border-radius: 15px;
    padding-left: 50px;
    margin-left: auto;
}

.testimonial__box:before {
    position: absolute;
    content: "";
    border: 25px solid transparent;
    border-right: 25px solid #FFFFFF;
    left: -47px;
    top: 45px;

}



.testimonial__name {
    font-size: 14px;
    line-height: 55px;
}

.testimonial__title {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    padding: 5px 0;
}

.testimonial__text {
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 18px;
}

.testimonial__bitcoin-img-box {
    padding: 25px 20px 0 0;
}

.testimonial__bubbles-container {
    position: relative;
    color: #D8D8D8;
    min-height: 400px;
  
}

.testimonial__bubbles-container:after {
    position: absolute;
    content: "";
    width: 92px;
    height: 76px;
    background: url("../assets/images/testimonial_bubble_left.svg");
    bottom: -60px;
    ;
    right: -10px;
    background-size: 100%;
}


.size_1 {
    font-size: 138px;
}

.size_2 {
    font-size: 85px;
}

.size_3 {
    font-size: 65px;
}

.size_4 {
    font-size: 58px;
}

.size_5 {
    font-size: 45px;
}

.circle_com {
    position:absolute;
    max-width: 570px;
    max-height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
}

.circle_2 {
    max-width: 510px;
}

.circle_3 {
    max-width: 490px;
}

.circle_4 {
    max-width: 480px;
}

.circle_5 {
    max-width: 475px;
}

.testimonial__box-container {
    visibility: hidden;
    opacity:0;
    z-index: 0;
  
}

.bubble_1 {
    top: 75px;
    left: 187px;
}

.bubble_2 {
    top: 213px;
    left: 88px;
}

.bubble_3 {
    top: 207px;
    right: 108px;
}

.bubble_4 {
    top: -35px;
    right: -426px;
}

.bubble_5 {
    top: 54px;
    right: -192px;
}

.bubble_6 {
    top: 296px;
    right: -207px;
}

.bubble_7 {
    top: 130px;
    right: -29px;
}

.bubble_8 {
    top: 66px;
    left: 380px;
}

.bubble_9 {
    top: 66px;
    left: 608px;
}

.bubble_10 {
    top: 143px;
    left: 467px;
}

.bubble_11 {
    top: 210px;
    left: 344px;
}

.bubble_12 {
    top: 170px;
    left: 898px;
}

.bubble_13 {
    top: 166px;
    left: 1058px;
}

i:hover + .testimonial__box-container {
    visibility: visible;
    opacity:1;
z-index: 100;
}

.fa-circle {
    position: relative;
    z-index: 15;
  
}


