$redhover: #E71414;
$red: #FF4343;
$purple: #5C3249;
$blue:#353C65;
$darkblue:#2C3154;
$grey:#808080;
$white:#FFF;

%btn {
    width: 370px;
    height: 80px;
    background: $red;
    text-align: center;
    margin: 0 auto;
}