.download {
    padding: 114px 0;

    @media (max-width: 1024px) {
        padding: 78px 0;
    }

    @media (max-width: 551px) {
        padding: 45px 0;
    }

    &__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        padding-bottom: 15px;

        @media (max-width: 1024px) {
            font-size: 24px;
            line-height: 28px;
        }

        @media (max-width: 551px) {
            font-size: 18px;
            line-height: 21px;
        }
    }

    &__subtitle {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 47px;

        @media (max-width: 1024px) {
            font-size: 14px;
            line-height: 16px;
        }

        @media (max-width: 551px) {
            font-size: 13px;
            line-height: 15px;
            padding-bottom: 20px;
        }
    }

    &__btn {
        @extend %btn;

        @media (max-width: 1024px) {
            width: 314px;
        }

        @media (max-width: 551px) {
            width: 279px;
            height: 80px;

        }

        & a {
            display: inline-block;
            font-weight: 900;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            color: #FFFFFF;
            text-transform: uppercase;
            padding: 25px 78px;

            @media (max-width: 1024px) {
                font-size: 18px;
                line-height: 21px;
                padding: 30px 75px;
            }

            @media (max-width: 551px) {
              
                padding: 30px 60px;
            }

        }

        &:hover {
            background-color: $redhover;
        }
    }


}